body, main {
    height: 100%;
    font-size: 100%;
}

#ricerca-container {
    padding: 0.7em;
}

#permaLink {
    word-wrap: break-word;
}

#date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    margin-top: 2em;
}

.data {
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.7em;
    margin: 0 0.2em;

    color: white;
}

.data a {
    color: white;
}

#preloader-container {
    width: 100%;
    position: relative;
    top: 10em;
    text-align: center;
}

#filtroCanali-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filtro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filtro-container > p {
    margin: 0.2em 0.5em;
}

#noPrograms {
    width: 100%;
    margin-top: 10em;
    text-align: center;
}

#list {
    margin-top: 1em;
    display: block;
    border: 1em solid black;
    border-radius: 0.5em;
    height: 40em;

    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#list #channels {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex: 0 0 6em;
    -mox-flex: 0 0 6em;
    -ms-flex: 0 0 6em;
    flex: 0 0 6em;

    overflow-x: auto;
    overflow-y: hidden;
}

#list #channels .ch-logo {
    flex: 0 0 4em;
    margin: 0.7em;
    height: 4em;
}

#list #inner-container {
    width: 100%;
    overflow-y: auto;

    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#list .ch {
    margin: 0.7em;
}

#list .ch-header {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;

    margin-bottom: 0.7em;
}

#list .ch-header .ch-logo {
    display: inline;
    height: 75px;
    width: 75px;

    margin-right: 0.5em;
}

#list .ch-header-text {
    display: inline;
}

#list .prg {
    margin: 0.7em;
}

#list .prg.inonda {
    background-color: #bd3c3c;
}

#list .prg .titolo {
    font-weight: bold;
}

#list .prg .prg-more {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}

#list .prg .prg-more img {
    display: inline-block;
    width: 6em;
    height: 6em;
    margin: 0.7em;
    vertical-align: top;
}


footer {
    text-align: center;
    padding: 1em;
}
