body {
    font-size: 100%;
}

#wall-container {
    border: 1em solid black;
    border-radius: 0.5em;
    
    overflow: auto;
}

#wall-container #channels .wall-ch-logo {
    margin: 0.7em;
}

.wall-hour {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wall-hour-divider {
    border: gray solid 0.5px;
    border-left: 0;
    border-right: 0;
    border-radius: 1 em;
    
    display: flex;
    justify-content: space-around;
}

.wall-ch {
    display: flex;
    flex-direction: column;
    width: 8em;
    height: 100%;
    margin: 0.7em;
}

img.wall-ch-logo {
    width: 8em;
    height: auto;
}

.wall-ch > .wall-prg {
    width: 100%;
    overflow: hidden;
}

.wall-prg > .wall-prg-img{
    width: 100%;
    margin: 0;
    display: block;
}

.wall-prg-img > img {
    width: 100%;
    height: auto;
}

.wall-prg > .wall-prg-content{
    width: 100%;
    padding: 0.3em 0.7em;
    display: block;
    font-size: 0.9em;
}

.wall-prg-content > span.titolo {
    font-weight: bold;
}

.wall-prg-content > span.genere {
    font-style: italic;
}


/*

.wall-ch > .wall-prg {
    min-width: 6em;
    margin: 0.5em;
    flex: 1 0 auto;
    height: 6em;
    
    overflow: hidden;
}

.wall-prg > .wall-prg-img{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.wall-prg-img > img {
    height: 100%;
    width: auto;
}

.wall-prg > .wall-prg-content {
    height: 100%;
    width: calc(100% - 120px);
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
    overflow: hidden;
}

.wall-prg-content > span {
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wall-prg-content > .genere {
    font-style: italic;
}

.wall-prg-content a {
    vertical-align: top;
} 

*/

/*COLORI CANALI*/
.wall-ch[data-ch="RaiUno"] > .wall-prg {
    color: #FFFFFF;
    background-color: #0056A5;
}
.wall-ch[data-ch="RaiUno"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="RaiDue"] > .wall-prg {
    color: #FFFFFF;
    background-color: #bf2314;
}
.wall-ch[data-ch="RaiDue"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="RaiTre"] > .wall-prg {
    color: #FFFFFF;
    background-color: #008c00;
}
.wall-ch[data-ch="RaiTre"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="Rai4"] > .wall-prg {
    color: #FFFFFF;
    background-color: #d700ff;
}
.wall-ch[data-ch="Rai4"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="Extra"] > .wall-prg {
    color: #FFFFFF;
    background-color: #ff6600;
}
.wall-ch[data-ch="Extra"] a {
    color: #FFFFFF;
}
