body, main {
    height: 100%;
    font-size: 100%;
}



#wall-container {
    margin-top: 1em;
    display: block;
    border: 1em solid black;
    border-radius: 0.5em;
    overflow: auto;
    height: 40em;
}

#noPrograms {
    width: 100%;
    margin-top: 10em;
    text-align: center;
}

#wall-container #channels {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#wall-container #channels .wall-ch-logo {
    -webkit-flex: 0 0 8em;
    -mox-flex: 0 0 8em;
    -ms-flex: 0 0 8em;
    flex: 0 0 8em;
    margin: 0.7em;
}

.wall-hour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.wall-hour-divider {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -webkit-flex;
    display: flex;
}

.wall-hour-divider > span {
    border: gray solid 0.5px;
    border-left: 0;
    border-right: 0;
    text-align: center;
    -webkit-flex: 0 0 8em;
    -mox-flex: 0 0 8em;
    -ms-flex: 0 0 8em;
    flex: 0 0 8em;
    margin: 0 0.7em;
}

.wall-ch {
    -webkit-flex: 0 0 8em;
    -mox-flex: 0 0 8em;
    -ms-flex: 0 0 8em;
    flex: 0 0 8em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 8em;
    height: 100%;
    margin: 0.7em;
}

img.wall-ch-logo {
    width: 8em;
    height: auto;
}

.wall-ch > .wall-prg {
    width: 100%;
    overflow: hidden;
}

.wall-prg > .wall-prg-img{
    width: 100%;
    margin: 0;
    display: block;
}

.wall-prg-img > img {
    width: 100%;
    height: auto;
}

.wall-prg > .wall-prg-content{
    width: 100%;
    padding: 0.3em 0.7em;
    display: block;
    font-size: 0.9em;
}

.wall-prg-content > span.titolo {
    font-weight: bold;
}

.wall-prg-content > span.genere {
    font-style: italic;
}

/*COLORI CANALI*/
.wall-ch[data-ch="RaiUno"] > .wall-prg {
    color: #FFFFFF;
    background-color: #0056A5;
}
.wall-ch[data-ch="RaiUno"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="RaiDue"] > .wall-prg {
    color: #FFFFFF;
    background-color: #bf2314;
}
.wall-ch[data-ch="RaiDue"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="RaiTre"] > .wall-prg {
    color: #FFFFFF;
    background-color: #008c00;
}
.wall-ch[data-ch="RaiTre"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="Rai4"] > .wall-prg {
    color: #FFFFFF;
    background-color: #d700ff;
}
.wall-ch[data-ch="Rai4"] a {
    color: #FFFFFF;
}

.wall-ch[data-ch="Extra"] > .wall-prg {
    color: #FFFFFF;
    background-color: #ff6600;
}
.wall-ch[data-ch="Extra"] a {
    color: #FFFFFF;
}
