#list {
    margin-top: 1em;
    display: block;
    border: 1em solid black;
    border-radius: 0.5em;
    height: 40em;
    
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#list #channels {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
        
    -webkit-flex: 0 0 6em;
    -mox-flex: 0 0 6em;
    -ms-flex: 0 0 6em;
    flex: 0 0 6em;
    
    overflow-x: auto;
    overflow-y: hidden;
}

#list #channels .ch-logo {
    flex: 0 0 4em;
    margin: 0.7em;
    height: 4em;
}

#list #inner-container {
    width: 100%;
    overflow-y: auto;
}

#list .ch {
    margin: 0.7em;
}

#list .ch-header {     
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    
    margin-bottom: 0.7em;
}

#list .ch-header .ch-logo {
    display: inline;
    height: 75px;
    width: 75px;
    
    margin-right: 0.5em;
}

#list .ch-header-text {
    display: inline;
}

#list .prg {
    margin: 0.7em;
}

#list .prg.inonda {
    background-color: #bd3c3c;
}

#list .prg .prg-more {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}

#list .prg .prg-more img {
    display: inline-block;
    width: 6em;
    height: 6em;
    margin: 0.7em;
    vertical-align: top;
}
